<head>
    <title>Nymphae</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
</head>

<template name="home">
	{{> header}}	
</template>

<template name="header">
	<header>
		<section class="hero">
			<div class="texture-overlay"></div>
			<div class="container">
				<div class="row nav-wrapper">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						<a href="#"><img src="img/logo-white.png" alt="Boxify Logo"></a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
						<a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
					</div>
				</div>
				<div class="row hero-content">
					<div class="col-md-12 text-center">
						<h1 class="animated fadeInDown">Phrase d'accroche !</h1>
						<a href="http://tympanus.net/codrops/?p=22554" class="use-btn animated fadeInUp">Use it for free</a>
					</div>
				</div>
			</div>
		</section>
	</header>
</template>

<template name="layout">
    {{> yield}}
</template>