<template name="profil">
	{{> navProfile}}
	{{> profilUser}}
</template>

<template name="navProfile">
	<section class="nav">
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left">
					<a href="http://localhost:3000"><img src="img/logo-nymphae.png" alt="Nymphae Logo"></a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon itemsNav">
					<ul class="nav navbar-nav navbar-center">
						<li><a href="#">PLANTES</a></li>
						<li><a href="#">PROFIL</a></li>
						<li><a href="#">HISTORIQUE</a></li>
						<li><a href="#">DECONNEXION</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</template>

<template name="profilUser">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="center-block placeholder">Bloc 1</div>
			</div>
			<div class="col-md-6 brd">
				<div class="center-block placeholder">Bloc 2</div>
			</div>
			<div class="col-md-12 brd">
				<div class="center-block placeholder">Bloc 3</div>
			</div>
		</div>
	</div>
</template>

