<template name="profil">
	{{> navProfile}}
	{{> yield}}
</template>

<template name="navProfile">
	<section class="nav">
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left">
					<a href="http://localhost:3000"><img src="img/logo-nymphae.png" alt="Nymphae Logo"></a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon itemsNav">
					<ul class="nav navbar-nav navbar-center">
						<li><a id="myPlants">PLANTES</a></li>
						<li><a id="profil">PROFIL</a></li>
						<li><a href="#">HISTORIQUE</a></li>
						<li><a id="logoutUser">DECONNEXION</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</template>

<template name="profilUser">
	<section class="infosUser">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="center-block text-center">
						<h1>Profil Utilisateur</h1>
						<div class="text-left">
							<span>Adresse mail:</span>
		                    <input type="text" id="email" value="{{emails.[0].address}}">
		                    <span>Adresse Mac de votre boîte:</span>
		                    <input type="text" id="macAddress" value="{{profile.macAddress}}">
		                    <button id="updateProfil">Enregistrer</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="center-block text-center">
						<h1>Mot de passe</h1>
						<div class="text-left">
							<span>Ancien mot de passe:</span>
		                    <input type="password" id="oldpassword" placeholder="Votre ancien mot de passe">
		                    <span>Nouveau mot de passe:</span>
		                    <input type="password" id="newpassword" placeholder="Votre nouveau mot de passe">
		                    <span>Vérification:</span>
		                    <input type="password" id="verif" placeholder="Retapez votre nouveau mot de passe">
		                    <button id="updatePassword">Enregistrer</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
						<div class="center-block text-center">
							<h1>Assistance</h1>
							<div class="text-left">
								<span>Sujet:</span>
			                    <input type="text" id="oldpassword" placeholder="Le sujet de votre demande d'assistance">
			                    <span>Message:</span>
			                    <textarea class="form-control" rows="10" cols="5" placeholder="Votre message"></textarea>
			                    <button id="sendMessage">Envoyer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
</template>
