<template name="fichePlante">
    <section id="fichePlante" class="container">

        <div class="row">
            <nav>
                <ul>
                    <li>Fiche détaillée</li>
                    <li>Statistique</li>
                </ul>
            </nav>
            {{#each infoPlant}}
            <article class="right col-md-3">
                <img id="logoPlant" src="{{images}}" alt="">
                <h3>Données actuelles</h3>
                <div class="picto row">
                    <div class="col-md-4"><img src="/img/humidite.png" alt="">
                    </div>
                    <div class="col-md-4"><img src="/img/sun.png" alt="">
                    </div>
                    <div class="col-md-4"><img src="/img/termo.png" alt="">
                    </div>
                </div>
                <div class="measure row">
                    <div class="col-md-4"><span>50%</span>
                    </div>
                    <div class="col-md-4"><span>50%</span>
                    </div>
                    <div class="col-md-4"><span>20°C</span>
                    </div>
                </div>

                <h3>Données idéales</h3>
                <div class="picto row">
                    <div class="col-md-4"><img src="/img/humidite.png" alt="">
                    </div>
                    <div class="col-md-4"><img src="/img/sun.png" alt="">
                    </div>
                    <div class="col-md-4"><img src="/img/termo.png" alt="">
                    </div>
                </div>
                <div class="measure row">
                    <div class="col-md-4"><span>60%</span>
                    </div>
                    <div class="col-md-4"><span>60%</span>
                    </div>
                    <div class="col-md-4"><span>40°C</span>
                    </div>
                </div>
            </article>

            <article class="left col-md-9">
                <button id="update">Modifier plante</button>
                

                <h2>{{name}}<span>/ Nom latin</span></h2>

                <h3 class="where">Plante à l'étage des enfants</h3>

                <div class="description">
                    <p><span class="bold">Plantation :</span> {{planting}}</p>
                    <p><span class="bold"> Croissance :</span> {{growth}}</p>
                    <p><span class="bold">Floraison :</span> {{blooming}}</p>
                    <p><span class="bold"> Sol et irrigation :</span> {{soilIrr}}</p>
                    <p><span class="bold"> Elagage :</span> {{pruning}}</p>
                    <p><span class="bold"> Eléments nuisibles :</span> {{pests}}</p>
                </div>
                
            </article>
            {{/each}}
        </div>
    </section>

</template>


<template name="allPlants">
    <section id="allPlants" class="container">
        <div class="row">
        <div class="col-md-4">        
            {{#each noExist}}
                <p>1</p>
            {{/each}}
        </div>
        {{#each plants}}
            {{> plant}}
        {{/each}}
        </div>
    </section>
</template>

<template name="plant">
    <div class="plant col-md-4">
        <img id="logoPlant" src="{{[0].images}}" alt="">
        <h2>{{[0].name}}</h2>

        <div class="picto row">
            <div class="col-md-4"><img src="/img/humidite.png" alt="">
            </div>
            <div class="col-md-4"><img src="/img/sun.png" alt="">
            </div>
            <div class="col-md-4"><img src="/img/termo.png" alt="">
            </div>
        </div>
        <div class="measure row">
            <div class="col-md-4"><span>50%</span>
            </div>
            <div class="col-md-4"><span>50%</span>
            </div>
            <div class="col-md-4"><span>20°C</span>
            </div>
        </div>
    </div>
</template>

<template name="buttonAddPlant">
    {{> addPlant}}
</template>